services:
  local_llm:
    provider:
      type: model
      options:
        model: ai/smolvlm:500M

  fastapi:
    build:
      context: ./app
    ports:
      - "8000:8000"

  ui:
    build:
      context: ./ui
    ports:
      - "8501:8501"
    depends_on:
      - fastapi
